/* Estilos formulario */

.form-container {
    width: 500px;
    border: 2px solid #cfcfcf;
    margin: 0 auto;
    border-radius: 8px;
}

.form__title {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    padding: 10px 15px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    background-color: #aaaaaa;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.form {
    display: block;
    padding: 1.5rem;
}

.form-grupo {
    padding: 10px 5px;
}

.form__label,
.form__input {
    display: block;
    font-size: 1rem;
}

.form__label {
    margin-bottom: 5px;
}

.form__input {
    width: 100%;
    line-height: 20px;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    transition: 0.1s;
}

.form__input::placeholder {
    font-family: 'Montserrat', sans-serif;
}

.form__input:focus {
    outline: none;
    border-color: dodgerblue;
    box-shadow: 0 0 2px 0 dodgerblue;
}

.form__button {
    display: inline-block;
    margin-left: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: dodgerblue;
    border: none;
    color: #eeeeee;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.form__button:hover {
    background-color: rgb(24, 124, 224);
}